* {

    box-sizing:border-box;
    margin:0;
    padding:0;
  
  }
  
  html {
  
    height:100%;
    width:100%;
  
  }
  
  body {

    text-align: center;
    align-content:center;
    background-color:#202830;
    color:#ffffff;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto;
    /*justify-items:center;*/
    min-height:100%;
    width:100%;
  }
  
  .canbg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .canbg canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  #canvas-board {/*
    width: 100%;
    height: 100%;*/
    z-index: 1;
    position: absolute;/*
    top: 0;
    left: 0;*/
    align-content:center;
  }

  #charcan {/*
    width: 100%;
    height: 100%;*/
    z-index: 2;
    position: absolute;/*
    top: 0;
    left: 0;*/
    align-content:center;
  }

  #infoBar {
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 4;
  }

  #infoBarImage{
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    opacity: .6;
  }

  #livestxt {
    position: absolute;
    top: 60%;
    left: 10%;
  }

  #leveltxt {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  #check{
    position: relative;
    visibility: hidden;
  }