
@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono&display=swap');

* {

    box-sizing:border-box;
    margin:0;
    padding:0;
  
  }

  html {
  
    height:100%;
    width:100%;
  
  }
  
  body {

    text-align: center;
    align-content:center;
    background-color:#202830;
    color:#ffffff;
    
    /*justify-items:center;*/
    height:100%;
    width:100%;
  }

  #tutorial{
    opacity: 0;
    position: absolute;
    width: 70%;
    top: 50px;
    left: 15%;
    z-index: 5;
  }

  #tutbox p{
    font-family: "Overpass";
    font-size: 3vw;
    padding: 25px;
  }

  #tutbox{
    position: absolute;
    background-color: black;
    opacity: .5;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  #canbg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .canbg canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  #canvas-board {
    z-index: 1;
    position: absolute;/*
    top: 0;
    left: 0;*/
    align-content:center;
  }

  #charcan {
    z-index: 2;
    position: absolute;/*
    top: 0;
    left: 0;*/
    align-content:center;
  }

  #infoBar {
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 5;
  }

  #UI {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .lvnum {
    position: absolute;
    top: 14%;
    display: inline-block;
    font-family: "Overpass";
  }

  #curlv {
    right: 40%;
  }

  #nxlv {
    right: 5%;
  }

  .dot {
    position: absolute;
    top: 17%;
    height: 11%;
    width: 4%;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  #dot1 {
    right: 35%;
  }
  #dot2 {
    right: 30%;
  }
  #dot3 {
    right: 25%;
  }
  #dot4 {
    right: 20%;
  }
  #dot5 {
    right: 15%;
  }

  #leveltxt{
    font-family: "Overpass";
    position: absolute;
    top: 14%;
    left: 10%;
  }

  #lvtrack {
    right: 0;
  }

  #acctxt{
    font-family: "Overpass";
    position: absolute;
    top: 60%;
    left: 10%;
  }

  #livestxt{
    font-family: "Overpass";
    position: absolute;
    top: 60%;
    right: 10%;
  }

  #fullscreen{
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    position: absolute;
  }

  #game {
    height: calc(100% - 25px);
    width: 100%;
    position: relative;
  }
  
  .jspsych-display-element, .jspsych-content-wrapper {
    height: 100%;
    width: 100%;
  }

  #buttonbar{
    height: 25px;
    width: 100%;
    background-color: black;
    opacity: 1;
    z-index: 5;
  }

  #sound{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 55px;
  }

  #music{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 85px;
  }

  #bgmhideaway{
    width: 0;
    height: 0;
    opacity: 0;
  }

  #fullscreenh{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 25px;
  }

  #profile{
    position: absolute;
    height: 25px;
    width: 25px;
    left: 25px;
  }

  #circlewrap{
    position: absolute;
    width: 100%;
    top: calc(50% - 100px);
    z-index: 5;
    opacity: 0;
  }

  #levelCircle{
    height: 200px;
    width: 200px;
    align-content: center;
    z-index: 5;
  }

  #lvltxtC{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
    font-family: "Overpass";
    color: green;
  }

  #controlpad{
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 20px;
    right: 20px;
  }

  #dpad{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: relative;
    z-index: 4;
    opacity: 1;
  }

  #left{
    position: absolute;
    top: 33%;
    left: 0%;
    width: 50px;
    height: 50px;
    z-index: 5;
  }

  #right{
    position: absolute;
    top: 33%;
    right: 0%;
    width: 50px;
    height: 50px;
    z-index: 5;
  }
  
  #up{
    position: absolute;
    top: 0%;
    left: 33%;
    width: 50px;
    height: 50px;
    z-index: 5;
  }

  #down{
    position: absolute;
    bottom: 0%;
    left: 33%;
    width: 50px;
    height: 50px;
    z-index: 5;
  }

  #infoBarImage{
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    opacity: .6;
  }

  #check{
    position: relative;
    visibility: hidden;
  }